.container {
  margin: 0 auto;
  width: 990px;
}

h1 a {
  color: #7e9f19;
  text-decoration: none;
}

h1 a:hover {
  background-color: #7e9f19;
  color: #FFF;
}

body {
  background: #FFF1d6 url(./imagens/pexels-kaique-rocha-97906.jpg);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.6;
}

.places {
  float: left;
  width: 700px;
}

article {
  background: #FFF;
  border-color: #ccc #999 #999 #ccc;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  float: right;
}

article a {
  color: #2c88a7;
  font-weight: bold;
}

article h2 {
  border-bottom: 1px dashed #7e9f19;
  margin: 0;
}

article img {
  /* max-width: 100px;
  max-height: 100px; */
  border: 1px solid #7e9f19;
  float: left;
  margin:  10px 10px 0 0;
  padding: 2px;
}
1
.clear {
  clear: both;
}

aside {
  background-color: #FFFBE4;
  border: 1px solid #C9BC8F;
  float: right;
  padding: 10px;
  width: 260px;
}

aside h3 {
  font-size: 14px;
  margin-top: 0;
}

aside ol {
  font-size: 12px;
}

.footer {
  color: #FFF;
  float: left;
  font-size: 12px;
  text-align: center;
}
